@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500,1,600;1,700;1,800;1,900&display=swap');

* {
    font-family: 'Times New Roman', Times, serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.body {
    background-color:#000000;
}

i {
    position: relative;
    width: 4px;
    height: 4px;
    background-color: #ff4545;
    pointer-events: none;
    animation: animate 2s linear forwards;
}

/* navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
    background: #000000;
    color: white;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    border-bottom: 2px solid #2d2d2d;
}

.logo {
    margin-left: 20px;
    font-size: 1.5rem;
    font-weight: bold;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.nav-links:hover {
    font-weight: 400;
}

.nav-links a {
    text-decoration: none;
    color: white;
    font-size: 1rem;
    transition: color 0.3s ease;
}

.nav-links a:hover {
    color: #fefefe;
    opacity: 50%;
    text-decoration: underline;
    font-weight: 200;
    background: linear-gradient(to right, #8B5AFF, #dd4c4f);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.logo {
    font-weight: 900;
    background: linear-gradient(to right, #8B5AFF, #dd4c4f);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline-block;
    animation: bounce 2s infinite;
    font-size: 20px;
    font-weight: 900;
    color: #ffffff;
    text-align: center;
}

@keyframes bounce {
    0%, 100% { transform: translateY(0); }
    50% { transform: translateY(-20px); }
}

/* left image */
.intro {
    align-items: center;
    gap: 20%;
}

.intro .nameTag {
    display: flex;
    justify-content: center;
    gap: 40%;
    align-items: center;
}

.intro .contact {
    text-decoration: none;
    color: #0c0c0c;
}

.int {
    display: flex;
    height: 100vh;
    width: 100%;
}

.int .short {
    flex-basis: 50%;
    align-items: center;
    justify-items: center;
    background-color: #000000;
    color: #ffffff;
    padding: 300px 100px 0 40px;
}

.int .nameTag {
    flex-basis: 50%;
    align-items: center;
    justify-items: center;
    background-color: #000000;
    color: #ffffff;
    padding-top: 30%;
}

.image .profile_img {
    height: 500px;
    transition: all 0.2s ease-in-out;
}

.image .profile_img:hover {
    height: 550px;
    width: auto;
    background: radial-gradient(50% 50% at 50% 50%, #763CAC 0%, rgba(50, 15, 133, 0.00) 100%);
}

/* right wala 1st page */
.short {
    background-color:#93A8AC;
}

.contain {
    display: inline-block;
    align-items: center;
    gap: 10px;
    font-size: larger;
    padding-right: 50px;
    top: 40px;
}

.contain h1 {
    font-weight: 900;
    background: linear-gradient(to right, #8B5AFF, #dd4c4f);
    -webkit-background-clip : text;
    -webkit-text-fill-color: transparent;
}

.contain a {
    color: #fff;
    text-decoration: none;
    font-size: medium;
}

.short #develop {
    font-weight: bolder;
    background: linear-gradient(to right, #8B5AFF, #dd4c4f);
    -webkit-background-clip : text;
    -webkit-text-fill-color: transparent;
}

.contact button {
    width: 110px;
    height: 50px;
    background-color: black;
    color: #dddcdc;
    border-radius: 25px;
    border-color: #dddcdc;
    cursor: pointer;
}

.text {
    width: 100%;
    border-right: 5px solid;
    white-space: nowrap;
    overflow: hidden;
    animation: typing 2s steps(8), cursor 0.4s step-end infinite alternate;
}

@keyframes typing {
    from { width: 0; }
    to { width: 80%; }
}

@keyframes cursor {
    50% { border-color: transparent; }
}

/* objective */
.objective {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #000000;
    width: 100%;
    height: 50vh;
    color: #fff;
    text-align: center;
}

.objective .box1 {
    background-color: #2a2a2a;
    width: 80%;
    border-radius: 15px;
    padding: 20px;
    box-shadow: 10px 10px 10px #7e47ff;
}

.objective .box1 h2 {
    font-weight: bolder;
    background: linear-gradient(to right, #8B5AFF, #dd4c4f);
    -webkit-background-clip : text;
    -webkit-text-fill-color: transparent;
}

/* education */
.college .img {
    background: linear-gradient(to bottom,#874aee, #000000);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    height: 50vh;
    width: 100%;
    padding: 10px 100px 50px 100px;
}

.image1 {
    height: 250px;
    width: 250px;
    border-radius: 50%;
    background-color: #874aee;
    padding: 3px;
    margin-bottom: 10px;
    transition: all 0.3s ease-in-out;
}

.image1 .college-img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
    border: 3px solid #fff;
}

.image1:hover {
    height: 300px;
    width: 300px;
    cursor: pointer;
    background: linear-gradient(to bottom, #000000, #874aee);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.school .img {
    background: linear-gradient(to bottom, #000000, #874aee);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    height: 50vh;
    width: 100%;
    padding: 50px 100px 0 100px;
    margin-bottom: 0;
}

.image2 {
    background: radial-gradient(50% 50% at 50% 50%, #763CAC 0%, rgba(50, 15, 133, 0.00) 100%);
    height: 250px;
    width: 250px;
    border-radius: 50%;
    background-color: #874aee;
    padding: 3px;
    margin-bottom: 10px;
    transition: all 0.3s ease-in-out;
}

.image2 .school-img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
    border: 3px solid #fff;
    transition: all 0.3s ease-in-out;
}

.image2:hover {
    background: linear-gradient(to bottom, #874aee, #000000);
    height: 300px;
    width: 300px;
    cursor: pointer;
}

/* skills */
.sk {
    background-color: #000000;
    color: #fff;
    padding: 50px 0 0 50px;
    height:100vh;
}

.skills {
    background-color: #000000;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 250px;
    width: auto;
}

.skills img {
    height: 60px;
    width: auto;
    margin: 15px;
    transition: color 5s ease;
}

.skills img:hover {
    margin: calc(5px);
    height: 80px;
    width: auto;
    cursor: pointer;
    border: 1px solid #000000;
    border-radius: 50%;
    background: radial-gradient(50% 50% at 50% 50%, #763CAC 0%, rgba(50, 15, 133, 0.00) 100%);
}

.gif {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    padding: 0 100px 10px 0;
}

.gif h3 {
    font-weight: bolder;
    background: linear-gradient(to right, #8B5AFF, #dd4c4f);
    -webkit-background-clip : text;
    -webkit-text-fill-color: transparent;
}

/* responsibility */
.responsibility button {
    width: 100px;
    height: 50px;
    background-color: black;
    color: #dddcdc;
    border-radius: 25px;
    border-color: #dddcdc;
    cursor: pointer;
}

.respo {
    max-width: 1200px;
    margin: 10px auto;
    position: relative;
}

.respo::after {
    content: '';
    position: absolute;
    width: 6px;
    background-color: #fff;
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -3px;
}

.container {
    padding: 10px 50px;
    width: 50%;
    position: relative;
}

.container::after {
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    right: -17px;
    background-color: #fff;
    border: 4px solid #874aee;
    top: 15px;
    border-radius: 50%;
    z-index: 1;
}

.left-container {
    left: 0;
}

.left-container::after {
    right: -17px;
}

.right-container {
    left: 50%;
}

.right-container::after {
    left: -17px;
}

.text-box {
    color: #ffffff;
    padding: 20px 30px;
    background: linear-gradient(to bottom,#000, #874aee, #000000);
    border-radius: 6px;
    font-size: 15px;
}

.left-container .text-box {
    text-align: right;
}

.right-container .text-box {
    text-align: left;
}

@media screen and (max-width: 600px) {
    .respo::after {
        left: 31px;
    }
    .container {
        width: 100%;
        padding-left: 80px;
        padding-right: 25px;
    }
    .container::after {
        left: 15px;
    }
    .left-container::after {
        left: 15px;
    }
    .right-container::after {
        left: 15px;
    }
    .left-container .text-box {
        text-align: left;
    }
}

.container {
    opacity: 0;
    transform: translateX(100px);
    transition: all 1s;
}

.container.show {
    opacity: 1;
    transform: translateX(0);
}

.left-container {
    transform: translateX(-100px);
}

.left-container.show {
    transform: translateX(0);
}

/* project */
.project {
    background: #000;
}

.project .multi-project {
    display: inline;
    align-items: center;
    justify-content: center;
}

.project .multi-project .tech {
    height: 200px;
    width: auto;
    background-color: #fffbfb;
}

/* Registration Form */
.reg {
    background-color: #000000;
}

.form {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
    width: 600px;
    border-radius: 25px;
    padding: 20px;
    margin: 0 auto;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form .scooter img {
    height: 250px;
    width:auto;
    transition: all 0.5s ease-in-out;
}

.scooter img:hover {
    height: 300px;
    width: auto;
    background: radial-gradient(50% 50% at 50% 50%, #737373 0%, rgba(50, 15, 133, 0.00) 100%);
}

.register {
    background-color: #000000;
    font-weight: 800;
    background: linear-gradient(to right, #8B5AFF, #dd4c4f);
    -webkit-background-clip : text;
    -webkit-text-fill-color: transparent;
    display: flex;
    flex-direction: column;
    width: 320px;
    margin: auto;
}

.register input {
    margin: 12px 0;
    padding: 12px;
    font-size: 18px;
    border-radius: 8px;
    border: 3px solid #ffdbdb;
    background: rgba(218, 218, 218, 0.8);
    color: #8B5AFF;
    box-shadow: 2px 2px 6px black;
}

.register button {
    margin: 12px 0;
    padding: 12px;
    font-size: 18px;
    border-radius: 8px;
    border: 3px solid #ffdbdb;
    background: rgba(199, 199, 199, 0.8);
    color: #ffffff;
    box-shadow: 2px 2px 6px black;
}

.register .butto {
    display: flex;
    padding: 20px;
    margin: 0 0 5px 0;
    gap: 20px;
    justify-content: center;
}

.register button {
    color: #ffffff;
    border-color: rgb(31, 30, 30);
    cursor: pointer;
    font-weight: bolder;
    transition: transform 0.3s ease-in-out;
}

.register button:hover {
    transform: translateY(5px);
    color: #010101;
    text-shadow: 2px 2px 8px #ffffff;
    box-shadow: 0 0 15px #a07df1;
}

.SUMMARY {
    background-color: #424B54;
    height:100vh;
}

/* footer of website */
.resume-footer {
    background-color: #000000;
    padding: 20px;
    text-align: center;
    font-size: 14px;
    border-top: 1px solid #000000;
}

.resume-footer .footer-content {
    max-width: 800px;
    margin: 0 auto;
    color: #dddcdc;
}

#contact-btn {
    width: 100px;
    height: 50px;
    background-color: black;
    color: #dddcdc;
    border-radius: 5px;
    border-color: #dddcdc;
    cursor: pointer;
}

.resume-footer a {
    color: #007bff;
    text-decoration: none;
    font-weight: 500;
}

.resume-footer a:hover {
    text-decoration: underline;
}

.resume-footer p {
    margin: 8px 0;
}

@media (max-width: 768px) {
    .footer-links {
        flex-direction: column;
        gap: 10px;
    }
}

.animate {
    animation: fadeIn 2s ease-in-out;
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}
